/* RESET */
body {
  margin: 0;
  font-family: "Montserrat";

  box-sizing: border-box;
}
li,
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

img,
h2,
h3,
p,
span,
li,
ul {
  margin: 0px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

/* HEADER STYLES */

.header-bg {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.header-lista {
  display: flex;

  justify-content: center;
  gap: 50px;
  align-items: center;
  font-size: 1.25rem;
}

.header-cta {
  display: flex;
  gap: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  background-color: #ff6e00;
  border-radius: 50px;
  padding: 8px 30px;
}
.header-cta > a {
  color: white;
}
.hero {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

/* SOBRE-NOS STYLES */
.sobre-conteudo {
  margin-top: 100px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 5fr 6fr;
  align-items: center;
  gap: 60px;
}

.sobre-conteudo img {
  width: 100%;
}

.sobre-conteudo h2 {
  font-size: 1.6rem;
}

.sobre-conteudo h2::before {
  content: "";
  display: block;
  height: 8px;
  width: 90px;
  background: linear-gradient(to left, #ee7522 50%, #6b2b8b 100%) left;
  margin-bottom: 10px;
}

.sobre-conteudo h2 > span:first-child {
  color: #781ca6;
}
.sobre-conteudo h2 > span:nth-child(2) {
  color: #ff6e00;
}
.sobre-conteudo h3 {
  font-size: 2rem;
  color: #ee7522;
}

.sobre-texto {
  font-size: 1rem;
  width: 62ch;
  line-height: 150%;
}

.produtos-bg {
  background: #f7f7f7;
  padding-top: 60px;
  padding-bottom: 80px;
}

.produtos-titulo {
  font-size: 2rem;
  text-align: center;
  color: #ee7522;
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.produto-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 60px;
}

.produto {
  max-width: 300px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #f7f7f7;
  overflow: hidden;
  transition: 0.2s;
}

.produto-botoes {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.produtos-informaçoes h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  margin-left: 20px;
  text-align: left;
}

.produtos-informaçoes p {
  color: #8a8a8a;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 20px;
}

/* BOTÃO NAV MOBILE */
.btn-informaçoes {
  background: #89609e;
  font-weight: 600;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
.btn-orcamento {
  background: #ee7522;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
}
.btn-orcamento span {
  color: white;
}

.produto:hover {
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.produto > img {
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto 8px auto;
}
@media (max-width: 800px) {
  .header-lista {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero {
    padding: 0px;
  }
  .hero > img {
    padding: 0px;
    max-width: 100%;
    object-fit: cover;
  }
  .sobre-conteudo {
    grid-template-columns: 1fr;
    display: none;
  }

  .produto-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding: 0px;
  }
}

.mobile-menu-button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}
body.menu-open {
  overflow: hidden;
}

.mobile-menu-button .bar {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
  .mobile-menu-button {
    display: block;
    position: absolute;
    right: 40px;
  }

  .mobile-menu-button.active .bar:nth-child(2) {
    opacity: 0;
  }
  .mobile-menu-button.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .mobile-menu-button.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-lista {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;

    background-color: #f7f7f7;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);

    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    gap: 25px;

    transition: right 0.4s ease-in-out;
  }

  .header-lista.active {
    right: 0;
  }

  .header-lista .item {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .header-lista .item a {
    font-size: 1.5rem;
  }

  .header-cta {
    font-size: 1.2rem;
  }

  .sobre-conteudo {
    grid-template-columns: 1fr;
  }
}

.diferenciais-bg {
  background: #fdf6f1 url("./img/banner-diferenciais.png") no-repeat center
    center;
  background-size: cover;
}

.diferenciais-conteudo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 40px 0px 40px;
}

.d-conteudo-bg {
  background: white;
  border-radius: 40px 40px 0 0;
  padding: 50px 40px;
  box-sizing: border-box;
  text-align: center;
}

.d-conteudo-bg h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 40px;
}

.d-conteudo-bg h2 span {
  color: #ee7522;
}

.diferenciais-lista {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.diferenciais {
  flex: 1;
  max-width: 320px;
  min-width: 280px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diferenciais:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.diferenciais h3 {
  color: #ee7522;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 10px;
}

.diferenciais p {
  color: #8a8a8a;
  margin-top: 0;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .diferenciais-conteudo {
    padding: 80px 20px 0 20px;
  }

  .d-conteudo-bg {
    padding: 40px 20px;
    margin-bottom: -60px;
  }

  .d-conteudo-bg h2 {
    font-size: 2rem;
  }

  .diferenciais-lista {
    flex-direction: column;
    align-items: center;
  }

  .diferenciais {
    min-width: unset;
  }
}

.galeria-bg {
  background-color: #ee7522;
}
.galeria-conteudo {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.galeria-info h2 {
  font-weight: 900;
  font-size: 8rem;
  line-height: 0.8;
  color: #b85115;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  margin-bottom: 36px;
}
.galeria-botao {
  padding: 16px;
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 12px;
  background-color: white;
  border-radius: 50px;
}
.galeria-botao span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  color: #ff6e00;
}
.galeria-imagens img:first-child {
  grid-column: 1/-1;
}

.galeria-imagens {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.galeria-imagens img {
  width: 100%;
}

@media (max-width: 800px) {
  .galeria-bg {
    margin-top: 40px;
  }
  .galeria-conteudo {
    grid-template-columns: 1fr;
  }
  .galeria-info h2 {
    max-width: initial;
    text-transform: capitalize;
    word-break: normal;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .galeria-botao {
    padding: 8px 12px;
  }
  .galeria-imagens {
    gap: 10px;
  }
  .galeria-info {
    text-align: center;
  }
  .galeria-botao span {
    font-size: 0.8rem;
  }
  .galeria-botao > a > img {
    display: none;
  }
}

.form-container {
  background: radial-gradient(circle at bottom, #f8a43d, #ee7522);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.form-container input,
.form-container textarea {
  font-weight: 400;
  width: 100%;
  padding: 18px 25px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

.form-container textarea {
  border-radius: 30px;
  height: 140px;
  resize: vertical;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.form-container ::placeholder {
  color: #cccccc;
  font-weight: lighter;
}

.form-container button {
  font-family: "Montserrat";
  width: 100%;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background-color: #ffd0a5;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-container button:hover {
  background-color: #f2bf90;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.contato > h2:first-child {
  grid-column: 1/-1;
  margin-bottom: 50px;
  font-size: 4rem;
}

.localização-conteudo h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #ee7522;
}

.localização-conteudo a > img {
  max-width: 100%;
}
.contato-botao a {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 15px;
  background: linear-gradient(to right, #ff6f00 20%, #f3a066 100%);
  border-radius: 50px;
}
.contato-botao span {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }
  .contato > h2:first-child {
    font-size: 2rem;
    margin-bottom: 0px;
  }
}
.footer-bg {
  background-color: #ee7522;
}

.footer-conteudo {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding: 100px 20px 40px 20px;
  gap: 80px 20px;
}

.footer-conteudo > img {
  max-width: 100%;
  margin: 0 auto;
}
.nav-secundario li {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 45px;
}
.item-f > a {
  color: white;
}

.footer-contato h3 {
  color: white;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer-contato ul > li {
  margin-bottom: 12px;
  color: white;
  font-size: 1.125rem;
}
.footer-contato ul > li:nth-child(1)::before {
  content: "";
  display: block;
  width: 80px;
  height: 6px;
  background: white;
  margin-bottom: 8px;
}
.footer-redes {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.footer-conteudo span {
  color: white;
  grid-column: 1/-1;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-conteudo {
    grid-template-columns: 1fr;
  }
  .footer-contato {
    text-align: center;
  }
  .footer-contato ul > li:nth-child(1)::before {
    display: none;
  }
  .footer-redes {
    justify-content: center;
  }
  .footer-conteudo > img {
    display: none;
  }
  .footer-conteudo {
    padding: 60px;
  }
}
